body,
html {
    background-color: #f8f9fa;
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    position: absolute;
}

.holding-div {
    position: absolute;
    background: #ffffff;
    border: 1px solid #F1F3F4;
    border-radius: 4px;
}

.heading {
    color: #202124;
    font-family: "Google Sans";
    font-size: 28px;
    line-height: 55px;
    border-bottom: 2px solid #3C4043;
    margin: 0 22px;
    padding: 0 2px;
}

.header {
    color: #202124;
    font-family: "Google Sans Display";
    font-size: 52px;
    font-weight: 500;
    line-height: 104px;
    top: 43px;
    left: 25px;
    height: 97px;
    right: 25px;
    padding: 0 24px;
    box-sizing: border-box;
}

.webcam {
    top: 150px;
    left: 25px;
    width: 928px;
    height: 660px;
}

.numbers {
    top: 150px;
    right: 25px;
    width: 928px;
    bottom: 25px;
}

.inference {
    top: 822px;
    left: 25px;
    bottom: 25px;
    width: 458px;
}

.reading {
    top: 822px;
    left: 495px;
    bottom: 25px;
    width: 458px;
}

.reading-number{
    color: #5F6368;
    font-family: "Google Sans Display";
    font-size: 90px;
    font-weight: bold;
    line-height: 172px;
    text-align: center;
}
.webcam-holder{
    position: absolute;
    width: 884px;
    left: 22px;
    height: 574px;
    top: 70px;
    overflow: hidden;
}
.webcam-inner{
    top: 30px;
    position: absolute;
    width: 884px;
    height: 574px;
}
.webcam-image{
    width:100%;
    height: 100%;
    border: none;
}
.chart{
    position:absolute;
    left: 25px;
    right: 25px;
    bottom: 25px;
    top: 70px;
}
.highcharts-credits{
    opacity: 0;
    user-select: none;
}
.changed{
    animation: modifiedAnimation cubic-bezier(0.4, 0, 0.2, 1) .567s;
    color:#e65100;
}

@keyframes modifiedAnimation {
	0% {
		background-color: transparent
	}
	26% {
		background-color: #fff3e0
	}
	74% {
		background-color: #fff3e0
	}
	100% {
		background-color: transparent
	}
}